* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  padding: 2rem;
}

h1,
p {
  letter-spacing: 1.2px;
  margin: 1rem 0;
}

button {
  border: transparent;
  padding: 0.5rem 0.75rem;
  outline: none;
  font-family: inherit;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}
.btn-container {
  margin: 2rem;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 50%;
  padding: 4px;
}

.column img {
  padding-top: 8px;
  vertical-align: middle;
}
