* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top-navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.top-navbar a,
.bottom-navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.top-navbar a:hover,
.bottom-navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin: 3rem 1rem;
}

/* bottom */
/* The navigation bar */
.bottom-navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the bottom of the page */
  width: 100%; /* Full width */
  background-color: #333;
}
