* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #333;
  /* main styles */
  overflow: auto;
  white-space: nowrap;
}

a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

a:hover {
  background-color: #777;
}
