* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 20rem;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.column {
  flex: 33.33%;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .column {
    flex: 100%;
  }
  img {
    height: auto;
  }
}
