* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
}

h1 {
  margin-bottom: 1rem;
}
p {
  width: 90%;
  line-height: 1.5;
  letter-spacing: 1.2px;
}

.container {
  position: relative;
  height: 100vh;
}

.content {
  padding: 4rem 3rem;
  color: white;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
